# important libraries

In [2]:
import sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing the dataset

In [3]:
# student = pd.read_csv('student-por.csv', sep=';')
# audit_risk = pd.read_csv('datasets/audit_risk.csv')
student_mat  = pd.read_csv('datasets/student-mat.csv', sep=';')
# student_por = pd.read_csv('datasets/student-por.csv')
# trial = pd.read_csv('datasets/trial.csv')
student_mat

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [4]:
student = student_mat['sex'].replace({'F':0, 'M':1})

In [5]:
student.sample(10)

75     1
63     0
64     0
171    1
389    0
95     0
96     1
182    0
355    0
106    0
Name: sex, dtype: int64

# selecting important featuers for training

In [6]:
df = student_mat[[ 'G1', 'G2', 'G3', 'failures', 'studytime', 'absences', 'age']]
y = df[['G3']]

In [7]:
df.sample(50)

     G1  G2  G3  failures  studytime  absences  age
112  10  13  13         1          2         6   16
40    7  10  11         1          2        25   16
96   11  15  15         0          1         2   16
221   6   5   0         1          3         0   17
311  14  12  13         0          2        20   19
287  13  12  12         0          3         6   17
134   9   0   0         0          2         0   15
292  12  12  13         1          2        12   18
114   9   9   9         0          2         8   15
189   8   9  10         0          2         4   17
78    8   8  10         3          1         2   17
345  13  13  14         0          3         7   18
132  10  13  12         0          1        12   17
212  12  13  14         0          2         0   16
371  14  12  12         0          1         3   18
213   6   7   8         1          2        15   18
230  13  13  14         0          2        14   17
105  10  11  11         0          4        10   15
386   6   5   6         0          1         7   18
375   8   8  10         0          3         2   18
158  17  15  15         0          1         2   16
332   7   0   0         0          2         0   18
172  13  11  10         0          2         0   17
26   12  12  11         0          1         2   15
17    8  10  10         0          2         4   16
211  12  12  13         0          2        13   17
109  14  15  16         0          3         4   16
108  10  13  13         0          4         6   15
254   8  12  12         0          1         0   17
95    7  10  10         1          4         2   15
339   9  10  10         0          2         4   17
102  10  13  14         0          1         4   15
159  10  12  12         1          2         4   16
2     7   8  10         3          2        10   15
136  10   0   0         0          2         0   17
0     5   6   6         0          2         6   18
240  12  12  12         0          2        14   17
392  10   8   7         3          1         3   21
300  12  10  11         0          2        14   18
264   9  10   0         0          3         0   18
122  13  13  13         0          2         2   16
308  15  12  12         1          2         0   19
350   8   7   8         3          2         8   19
297  10   8   8         0          2        10   18
394   8   9   9         0          1         5   19
20   13  14  15         0          2         0   15
255   7   9   8         1          1         2   17
237  13  12  12         0          1        20   16
130  12   0   0         2          3         0   15
256  14  12  13         0          4         6   17

# dividing the dataset into input variable and target

In [8]:
X = np.array(df.drop(['G3'], axis=1))
y = np.array(df['G3'])

# Training the model using Decission tree clasifier()

In [97]:
# clf = DecisionTreeClassifier()
# clf = sklearn.svm.SVC(kernel='linear')
clf = sklearn.neighbors.KNeighborsClassifier()
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=.2)
clf.fit(x_train, y_train)
predictions = clf.predict(x_test)
acc = clf.score(x_test, y_test)
score = accuracy_score(y_test, predictions)
print(acc)
print(predictions)
print(score)

0.35443037974683544
[12  6  9 13  9 12 11 15  0 11 14 11  0  8 12 18 11 10 13 15  6 10 16 10
  9  6 15  8 11  6 16 12 12 16  8  0 13 17 10 13 15  8  8 11 10 10 10  9
 10  7 10 10 11 13 11 16 14  0 11 12 10 11  8 15 10 14  9  9  0  5 13  8
  8 11  8 10 16 10 14]
0.35443037974683544